In [1]:
import pandas as pd
import numpy as np
import xport as xp

In [2]:
df = pd.read_csv('Data/Accelerometer.csv')

In [3]:
df.replace(to_replace = np.nan, value = 0, inplace = True)

In [4]:
demo = pd.read_csv('dataset/demo.csv')

In [5]:
df.head()

      SEQN  intense       light   moderate   sedentary
0  21005.0      2.0  114.571429  47.166667  804.428571
1  21006.0      2.0  189.142857   8.714286  761.857143
2  21007.0      2.4  355.285714  34.142857  568.857143
3  21008.0      6.2  147.714286  40.400000  779.000000
4  21009.0      1.0  333.571429  44.428571  581.714286

In [6]:
df.head()

      SEQN  intense       light   moderate   sedentary
0  21005.0      2.0  114.571429  47.166667  804.428571
1  21006.0      2.0  189.142857   8.714286  761.857143
2  21007.0      2.4  355.285714  34.142857  568.857143
3  21008.0      6.2  147.714286  40.400000  779.000000
4  21009.0      1.0  333.571429  44.428571  581.714286

In [7]:
df[df['light'].isnull()]

Empty DataFrame
Columns: [SEQN, intense, light, moderate, sedentary]
Index: []

In [11]:
class_healthy = []
for index, row in df.iterrows():
    if ( row['moderate'] * 7 >= 150) | ((row['intense']*7 )>= 75):
        class_healthy.append(1)
    else:
        class_healthy.append(0)

In [12]:
df['active'] = class_healthy

In [13]:
df[df['active'] == 0].shape[0] / 6804

0.5479129923574368

In [14]:
df.to_csv('dataset/accelerometer_classified_final_modified.csv')

In [15]:
demo.drop(['Unnamed: 0'],axis=1,inplace = True)

In [16]:
df1 = pd.merge(df,demo,on='SEQN')

In [17]:
df1.shape

(3833, 18)

### Correlation with demographic data

In [18]:
df1.corr().iloc[[5]]

,SEQN,intense,light,moderate,sedentary,active,RIDAGEYR,DMDEDUC2,DMDHHSIZ,INDFMPIR,gender_1.0,gender_2.0,marital_1.0,marital_2.0,marital_3.0,marital_4.0,marital_5.0,marital_6.0
active,0.009579,0.33236,0.270323,0.764993,-0.347698,1.0,-0.284328,0.114454,0.138242,0.096581,0.241892,-0.241892,0.009826,-0.161284,-0.04063,-0.015815,0.152122,0.009938

Education level has a positive correlation but it is decreasing the dataset size considerably ...3000

### Correlation with alcohol consumption per year

In [19]:
alq = pd.read_csv('dataset/alq.csv')

In [20]:
df2 = pd.merge(df,alq,on='SEQN')

In [21]:
df2.corr().iloc[[5]]

,SEQN,intense,light,moderate,sedentary,active,Unnamed: 0,ALQ_Year
active,0.011026,0.32748,0.254063,0.744786,-0.338041,1.0,0.011277,0.021285

In [22]:
df2[['ALQ_Year']] = df2[['ALQ_Year']]/52

In [23]:
df2.corr().iloc[[5]]

,SEQN,intense,light,moderate,sedentary,active,Unnamed: 0,ALQ_Year
active,0.011026,0.32748,0.254063,0.744786,-0.338041,1.0,0.011277,0.021285

### Correlation with weight and body measurement:

In [24]:
bmx = pd.read_csv('dataset/bmx.csv')

In [25]:
df3 = pd.merge(df,bmx,on='SEQN')
df3.corr().iloc[[5]]

,SEQN,intense,light,moderate,sedentary,active,Unnamed: 0,BMXWT,BMXBMI
active,-0.005194,0.411777,0.296036,0.75321,-0.399092,1.0,-0.005162,-0.300524,-0.32585

In [26]:
df3.shape

(6735, 9)

### Correlation with Dietary Supplement Use:

In [27]:
dsq1 = pd.read_csv('dataset/DSQ1.csv')
df4 = pd.merge(df,dsq1,on='SEQN')
df4.corr().iloc[[5]]

,SEQN,intense,light,moderate,sedentary,active,Unnamed: 0,DSD010,DSD010AN
active,-0.005868,0.411706,0.297135,0.753733,-0.400126,1.0,-0.005868,-0.145443,-0.095344

In [28]:
df4.shape

(6797, 9)

### Correlation with drug use

In [29]:
DUQ = pd.read_csv('dataset/DUQ.csv')
df5 = pd.merge(df,DUQ,on='SEQN')
df5.corr().iloc[[5]]

,SEQN,intense,light,moderate,sedentary,active,Unnamed: 0,DUQ100
active,0.007985,0.314361,0.272791,0.725342,-0.357654,1.0,0.008405,0.046213

In [30]:
df5.shape

(2309, 8)

### correlation with household smoking:

In [31]:
FAMSMQ = pd.read_csv('dataset/FAMSMQ.csv')
df6 = pd.merge(df,FAMSMQ,on='SEQN')
df6.corr().iloc[[5]]

,SEQN,intense,light,moderate,sedentary,active,Unnamed: 0,SMD415
active,-0.005662,0.411766,0.297724,0.753718,-0.400332,1.0,-0.005662,-0.02798

### correlation with general health condition:

In [32]:
HUQ = pd.read_csv('dataset/HUQ.csv')
df7 = pd.merge(df,HUQ,on='SEQN')
df7.corr().iloc[[5]][['HUQ010']]

          HUQ010
active -0.234648

### Correlation with Immunization

In [33]:
imc = pd.read_csv('dataset/imc.csv')
df8 = pd.merge(df,imc,on='SEQN')
df8.corr().iloc[[5]][['IMD010','IMQ020']]

          IMD010    IMQ020
active -0.147797 -0.337555

In [34]:
df8.shape

(6007, 9)

### Correlation with Sedentary activities:

In [35]:
PAQ = pd.read_csv('dataset/PAQ.csv')
df9 = pd.merge(df,PAQ,on='SEQN')
df9.corr().iloc[[5]][['PAD590','PAD600']]

          PAD590   PAD600
active -0.090956  0.11803

In [36]:
df9.shape

(6741, 9)

### Correlation with drug(medecine) use (Analgesic Pain Relievers)

In [37]:
RXQANA = pd.read_csv('dataset/RXQANA.csv')
df10 = pd.merge(df,RXQANA,on='SEQN')
df10.corr().iloc[[5]][['RXD300']]

          RXD300
active -0.122683

### Correlation with smoking:

In [38]:
SMQ = pd.read_csv('dataset/SMQ.csv')
df11 = pd.merge(df,SMQ,on='SEQN')
df11.corr().iloc[[5]][['SMQ020']]

          SMQ020
active -0.047476

### Correlation with SSQ.csv

In [39]:
SSQ = pd.read_csv('dataset/SSQ.csv')
df12 = pd.merge(df,SSQ,on='SEQN')
df12.corr().iloc[[5]][['SSQ061','SSQ011','SSQ051']]

          SSQ061    SSQ011    SSQ051
active -0.011892  0.040711  0.022856