In [77]:
import pandas as pd
import numpy as np
import xport as xp

In [78]:
df = pd.read_csv('Data/Accelerometer.csv')

In [79]:
df.replace(to_replace = np.nan, value = 0, inplace = True)

In [81]:
demo = pd.read_csv('dataset/demo.csv')

In [82]:
df.head()

      SEQN  intense       light   moderate   sedentary
0  21005.0      2.0  114.571429  47.166667  804.428571
1  21006.0      2.0  189.142857   8.714286  761.857143
2  21007.0      2.4  355.285714  34.142857  568.857143
3  21008.0      6.2  147.714286  40.400000  779.000000
4  21009.0      1.0  333.571429  44.428571  581.714286

In [153]:
df.head()

      SEQN  intense       light   moderate   sedentary  active
0  21005.0      2.0  114.571429  47.166667  804.428571       1
1  21006.0      2.0  189.142857   8.714286  761.857143       0
2  21007.0      2.4  355.285714  34.142857  568.857143       1
3  21008.0      6.2  147.714286  40.400000  779.000000       1
4  21009.0      1.0  333.571429  44.428571  581.714286       1

In [116]:
df[df['light'].isnull()]

Empty DataFrame
Columns: [SEQN, intense, light, moderate, sedentary, active]
Index: []

In [91]:
class_healthy = []
for index, row in df.iterrows():
    if (row['moderate'] + row['intense']*2)*7 >= 150:
        class_healthy.append(1)
    else:
        class_healthy.append(0)

In [92]:
df['active'] = class_healthy

In [93]:
df[df['active'] == 0].shape[0] / 6804

0.510435038212816

In [119]:
df.to_csv('dataset/accelerometer_classified_final.csv')

In [96]:
demo.drop(['Unnamed: 0'],axis=1,inplace = True)

In [97]:
df1 = pd.merge(df,demo,on='SEQN')

In [115]:
df1.shape

(3833, 18)

### Correlation with demographic data

In [98]:
df1.corr().iloc[[5]]

,SEQN,intense,light,moderate,sedentary,active,RIDAGEYR,DMDEDUC2,DMDHHSIZ,INDFMPIR,gender_1.0,gender_2.0,marital_1.0,marital_2.0,marital_3.0,marital_4.0,marital_5.0,marital_6.0
active,0.012894,0.344645,0.274754,0.75477,-0.348798,1.0,-0.315571,0.118375,0.136775,0.099811,0.237975,-0.237975,0.001756,-0.169256,-0.041641,-0.023637,0.163036,0.025843

Education level has a positive correlation but it is decreasing the dataset size considerably ...3000

### Correlation with alcohol consumption per year

In [99]:
alq = pd.read_csv('dataset/alq.csv')

In [100]:
df2 = pd.merge(df,alq,on='SEQN')

In [156]:
df2.corr().iloc[[5]]

,SEQN,intense,light,moderate,sedentary,active,Unnamed: 0,ALQ_Year
active,0.01962,0.342,0.259868,0.731416,-0.339018,1.0,0.019909,0.019569

In [102]:
df2[['ALQ_Year']] = df2[['ALQ_Year']]/52

In [103]:
df2.corr().iloc[[5]]

,SEQN,intense,light,moderate,sedentary,active,Unnamed: 0,ALQ_Year
active,0.01962,0.342,0.259868,0.731416,-0.339018,1.0,0.019909,0.019569

### Correlation with weight and body measurement:

In [104]:
bmx = pd.read_csv('dataset/bmx.csv')

In [105]:
df3 = pd.merge(df,bmx,on='SEQN')
df3.corr().iloc[[5]]

,SEQN,intense,light,moderate,sedentary,active,Unnamed: 0,BMXWT,BMXBMI
active,0.003573,0.422852,0.278784,0.728615,-0.379238,1.0,0.003594,-0.303642,-0.333257

In [113]:
df3.shape

(6735, 9)

### Correlation with Dietary Supplement Use:

In [154]:
dsq1 = pd.read_csv('dataset/DSQ1.csv')
df4 = pd.merge(df,dsq1,on='SEQN')
df4.corr().iloc[[5]]

,SEQN,intense,light,moderate,sedentary,active,Unnamed: 0,DSD010,DSD010AN
active,0.003579,0.422643,0.280417,0.729257,-0.380834,1.0,0.003579,-0.159726,-0.102105

In [75]:
df4.shape

(6797, 9)

### Correlation with drug use

In [131]:
DUQ = pd.read_csv('dataset/DUQ.csv')
df5 = pd.merge(df,DUQ,on='SEQN')
df5.corr().iloc[[5]]

,SEQN,intense,light,moderate,sedentary,active,Unnamed: 0,DUQ100
active,0.01446,0.326843,0.277718,0.708503,-0.358363,1.0,0.014891,0.04096

In [132]:
df5.shape

(2309, 8)

### correlation with household smoking:

In [136]:
FAMSMQ = pd.read_csv('dataset/FAMSMQ.csv')
df6 = pd.merge(df,FAMSMQ,on='SEQN')
df6.corr().iloc[[5]]

,SEQN,intense,light,moderate,sedentary,active,Unnamed: 0,SMD415
active,0.003713,0.422464,0.281365,0.729408,-0.3813,1.0,0.003713,-0.027855

### correlation with general health condition:

In [152]:
HUQ = pd.read_csv('dataset/HUQ.csv')
df7 = pd.merge(df,HUQ,on='SEQN')
df7.corr().iloc[[5]][['HUQ010']]

          HUQ010
active -0.250558

### Correlation with Immunization

In [149]:
imc = pd.read_csv('dataset/imc.csv')
df8 = pd.merge(df,imc,on='SEQN')
df8.corr().iloc[[5]][['IMD010','IMQ020']]

          IMD010    IMQ020
active -0.153698 -0.360137

In [140]:
df8.shape

(6007, 9)

### Correlation with Sedentary activities:

In [148]:
PAQ = pd.read_csv('dataset/PAQ.csv')
df9 = pd.merge(df,PAQ,on='SEQN')
df9.corr().iloc[[5]][['PAD590','PAD600']]

          PAD590    PAD600
active -0.104852  0.140144

In [142]:
df9.shape

(6741, 9)

### Correlation with drug(medecine) use (Analgesic Pain Relievers)

In [144]:
RXQANA = pd.read_csv('dataset/RXQANA.csv')
df10 = pd.merge(df,RXQANA,on='SEQN')
df10.corr().iloc[[5]][['RXD300']]

          RXD300
active -0.140367

### Correlation with smoking:

In [147]:
SMQ = pd.read_csv('dataset/SMQ.csv')
df11 = pd.merge(df,SMQ,on='SEQN')
df11.corr().iloc[[5]][['SMQ020']]

          SMQ020
active -0.057665

### Correlation with SSQ.csv

In [151]:
SSQ = pd.read_csv('dataset/SSQ.csv')
df12 = pd.merge(df,SSQ,on='SEQN')
df12.corr().iloc[[5]][['SSQ061','SSQ011','SSQ051']]

          SSQ061    SSQ011   SSQ051
active -0.018483  0.039814  0.01693